wsl_pis/pi1/ext4.vhdx
wsl_pis/pi2/ext4.vhdx
wsl_base.tar
client/__pycache__/*



# Ignore MNIST raw data files
*.idx1-ubyte
*.idx3-ubyte
*.gz

# PyTorch / Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl


# Ignore OS trash
.DS_Store
Thumbs.db

# Ignore virtualenv (if in project folder)
venv

# dataset
server/data/*
data/*

